.container{
    display: flex;
    flex-wrap: wrap; 
    padding: 4%;
}

.gallery-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.gallery-box img{
    max-width: 298px;
    max-height: 147px;
    border: 5px ridge rgb(215, 215, 189);
}

.heading{
    font-weight: 600;
}